@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300;400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300;400&family=Roboto:wght@300&display=swap');
*{
    margin: 0 auto;
    font-family:  Roboto;
    color:azure;  
    box-sizing: border-box;
}
.header{
    height:100vh;
}
.header_bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.wrapper{
    max-width: 1420px;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    
       
}
.menu_list{
    display: flex;
    list-style: none;
    align-items: center;   
}
.hamburger{
    display: none;
    
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: azure;
}
.menu_list>li{
    
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    margin-right: 30px;
}
.logo{
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    right:250px;   
}


.menu_item_list{
    position: absolute;
    list-style: none;
    top: 29px;
    left:85px;
    display: none;
    color:black;
}



li{  
    text-align: center;  
}

.menu_item:hover .menu_item_list{
    display: block;  
}

li:hover{
    border-bottom: 2px solid rgb(41, 80, 139);
    color: rgb(41, 80, 139);
    font-weight: 600;
    transition: 0.1s all linear;
    
    
}
.header_description{
    position: relative;
    top:300px;
    background-color:  rgba(0, 0, 0, 0.5);
    max-width:600px;
    padding: 20px;
    
    
}
.header_description>h1{
    font-size: 60px;
}
.header_description>p{
    font-size: 30px;
}
article{
    height:100vh;
    background-color:  rgba(0, 0, 0, 0.5);
    display: flex;   
}

.liverpool{
    display: flex;
    justify-content: center;
    align-items: center;
}
.liverpool_img{
    margin-right: 80px;
    
}
.liverpool_img>img{
    width:600px;
    height:600px;
}
.liverpool{
    max-width: 600px;      
}
.liverpool_biography{
    max-width: 400px;
    
}
.liverpool_biography>h1{
    font-size: 85px;
    color: rgba(255,0 ,0 ,0.7 );
    font-weight: 900;
}
.liverpool_biography>p{
    text-align: justify;
    font-size: 25px;
}
footer{
    background-color: rgb(141, 144, 146);
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:700px)  {
    .menu_list{
        position: fixed;
        top:5rem;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu_list.active{
        left:0;
    }
    .menu_item{
        margin: 1rem 0;
    }
    
    li:hover{
        border-bottom: 2px solid rgb(158, 34, 158);
        color: rgb(158, 34, 158);
        transition: 0.1s all linear;       
    }

    #matches:hover{
        border-bottom: none;
    }
    .menu_item_list{
        position: static;
       
    }
    .menu_item_list>li:hover{
        color: rgb(158, 34, 158);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo{
        right:5px;
        color:rgb(158, 34, 158);
    }
    .bar{
        
        background-color: rgb(158, 34, 158);
    }
    
    video{
        display: none;
        
    }
    
    .menu_item_list>li{
        color: black;
    }
    .header_description{
        top:30vh
    }
    .header_description>h1{
        font-size: 40px;
    }
    .header_description>p{
        font-size: 20px;
    }

    
    .hamburger{
        display: block;
        cursor: pointer;
        position: fixed;
        top:4px;
        left:5px
    }
    article{
        height:fit-content;
        margin-top: 0;
    }
    .liverpool{
        flex-direction: column-reverse;
        text-align: center;
        
    }
    .liverpool_img>img{
        width: 80vw;
        margin-bottom:20px;
    }
    
    
    
}
@media screen and (max-width:1200px){
    .logo{
        right:20px
    }
    .menu_list{
        position: fixed;
        left: -100%;
        top: 5rem;
        height: calc(100vh - 5rem);
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .menu_list.active{
        left:0;
        
    }
    .menu_item{
        margin: 1rem 0;
    }
    .menu_item_list{
        position: static;
    }
    .menu_item{
        color: black;
        
    }
    .menu_item_list>li{
        color: black;
    }
    .menu_item_list>li:hover{
        color: rgb(41, 80, 139);
    }
    #matches:hover{
        border-bottom:none ;

    }
    
    .hamburger{
        display: block;
        cursor: pointer;
        position: fixed;
        top:4px;
        left:5px
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    article{
        height:fit-content;
        margin-top: 0;
    }
    .liverpool{
        flex-direction: column-reverse;  
        text-align: center;     
    }
    
    .liverpool_img>img{
        width: 80vw;
        margin-bottom: 20px;
        margin-left: 20px;      
    }
    .champions{
        max-width: 600px;
    }
    
    
}










